<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>测试新的Layout</title>
<link href="/commons/commons/styles.a245c5e73ba4dab057e37ea08764cc1f.css?d18f88212bb97a254ca6" rel="stylesheet"/><link href="/home/index/styles.1ea738e17a1bcbeaae3e396e2f3b1b3e.css?d18f88212bb97a254ca6" rel="stylesheet"/></head>
<body>
<div id="wrapper">
    <p>{{title}}</p>
</div>
<script type="text/javascript" src="/commons/commons/webpack-runtime.d18f88212bb97a254ca6.js?d18f88212bb97a254ca6"></script><script type="text/javascript" src="/commons/commons/bundle.6a395cb8c47d97e80891.js?d18f88212bb97a254ca6"></script><script type="text/javascript" src="/home/index/entry.feb095ce404b3250f654.js?d18f88212bb97a254ca6"></script></body>
</html>

